/*html*/
.html{
    font-size: 1.1rem;
}

/*Header*/
.header{
    position: relative;
}
.nav-connexion{
    position:absolute;
    right: 1%;
    top: 1%;
}

/*Dashboard*/
.dashboard-container {
    height: 90svh;
}

/* HomePage*/
.home-page {
    min-height: 90svh;  
    height: auto;
}
.article{
    background-color: rgb(209, 209, 209) !important;
}


/* Section*/
.section-page {
    position: relative;
    min-height: 90svh;
    height: auto;
}


/* Article */


/*Comment*/
.car-comment{
    position: relative;
}
.card-text {
    width: 80%;
}


/* Button*/

.btn-moderation{
    position: absolute;
    top: 2%;
    right: 1%;
}